.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

.dropbtn {
  background-color: #4CAF50;
  color: white;
  padding: 16px;
  font-size: 16px;
  border: none;
}

.Dropbuttonarmies {
  background-color: #4CAF50;
  color: white;
  padding: 16px;
  font-size: 16px;
  border: none;
}

.Header-menu {
  overflow: hidden;
  background-color: #333;
}

.Header-menu a {
  float: left;
  font-size: 16px;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.Header-menu a:hover, .Menu-dropdown:hover .dropbtn {
  background-color: red;
}

.Menu-dropdown{
  float: left;
  overflow: hidden;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-armies {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-spells {
  display: none;
  position: absolute;
}

.dropdown-content a {
  float: none;
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.dropdown-armies a {
  float: none;
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.dropdown-spells a {
  float: none;
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.dropdown-content a:hover {
  background-color: #ddd;
}

.dropdown-armies a:hover {
  background-color: #ddd;
}

.Menu-dropdown:hover .dropdown-content {
  display: block;
}

.Menu-dropdown:hover .dropdown-armies {
  display: block;
}

.Menu-dropdown:hover .dropdown-spells {
  display: block;
}

.Menu-dropdown:hover .dropbtn {
  background-color: #3e8e41;
}

.Menu-dropdown:hover .Dropbuttonarmies {
  background-color: #3e8e41;
}

.Menu-dropdown:hover .Dropbuttonspells {
  background-color: #3e8e41;
}

.TheGame {
  table-layout: inherit;
  align-content: right;
  align-items: center;
}

.Map-view {
  padding: 0px;
  border-collapse: collapse;
  border: 1vw double burlywood;
  background-color: darkgoldenrod;
}

.Square {
  padding: 0px;
  margin: -3%;
  background-color: aliceblue;
}

.Map-view-image {
  width: 100%;
  display: block;
}

.Square-data-centered {
  position: relative;
  margin-bottom: -23%;
  margin-top: -22%;
  padding: 1%;
  border: 1%;
  font-size: 150%;
  text-shadow: 2px 2px 0 black, 2px -2px 0 black, -2px 2px 0 black, -2px -2px 0 black;
  flood-color: black;
  fill-opacity: 70%;
  font-weight: bolder;
  color: #808f60;
  top: -50%;
  left: 40%;
  transform: translate(-40%, -80%);
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg) scale(1); }
  to { transform: rotate(360deg) scale(1.8); }
}
